<%- include("./partials/header.ejs", {title: "Home page"}) %>
<!-- <a href="/">Home page</a>
<h1>Bienvenue dans notre plateform</h1>
<form>
<div>
    <label for="name-url">Lien url</label>
    <input type="text" id="name-url">
    <button id="buttonsend" type="submit">Envoyer</button><br>
</div><br>
<div>
    <label for="name-qr">generateur Qr</label>
    <input type="text" id="name-url">
    <button id="buttonsend" type="submit">Envoyer</button>
</div>
</form> -->
<!-- <h1>URL Raccourcie</h1>
    <p>Votre URL raccourcie est : <a href="<%= shortUrl %>"><%= shortUrl %></a></p>
    <p>QR Code (PNG) :</p>
    <img src="<%= qrCodePng %>" alt="QR Code PNG">
    <p>QR Code (JPEG) :</p>
    <img src="<%= qrCodeJpeg %>" alt="QR Code JPEG">
    <p>QR Code (SVG) :</p>
    <div><%= qrCodeSvg %></div>
    <br>
    <a href="/">Raccourcir une autre URL</a> -->


    <!-- <h1>URL Raccourcie</h1>
    <p>Votre URL raccourcie est : <a href="<%= shortUrl %>"><%= shortUrl %></a></p>
    <a href="/">Raccourcir une autre URL</a> -->

    <!-- <h1>URL Shortener</h1>
    <p>Shortened URL: <a href="<%= shortUrlData.shortUrl %>"><%= shortUrlData.shortUrl %></a></p>
    <p>QR Code:</p>
    <img src="<%= shortUrlData.qrCode %>" alt="QR Code">
    <a href="/">Back to Home</a> -->

    <!-- <h1>URL Raccourcie</h1>
    <p>Votre URL raccourcie est : <a href="<%= shortUrlData.shortUrl %>"><%= shortUrlData.shortUrl %></a></p>
    <p>QR Code :</p>
    <img src="<%= shortUrlData.qrCode %>" alt="QR Code">
    <br>
    <a href="/">Retour à l'accueil</a> -->
<%- include("./partials/footer.ejs") %>